*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

body {
    background-image: linear-gradient(to right, #001726, #000d1f);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table{
    background-color: #ccc;
    margin: 10px;
    width: 70%;
    box-shadow: 1px 2px 5px #ccc;
}

h1{
    color: #fff;
    text-align: center;
    margin: 50px;
}

h1 span{
    color: #14a00b;
}

th{
    color: #fff;
    padding: 10px;
}

tr{
    background-color: #000d1f;
}

tbody{
    background-color: #fff;
}

td{
    background-color: #000d1f;
    color: #fff;
    text-align: center;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;  
}

.search-input {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    background-color: #000d1f;
    margin: 10px;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button {
    position: absolute;
    right: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-button i {
    font-size: 20px;
    color: #14a00b;  /* Cor verde para a lupa */
}

/* Efeito no botão quando passar o mouse */
.search-button:hover i {
    color: #000;
}

@media (max-width: 768px) {
    table {
        width: 90%;
        margin:auto;
    }

    th, td {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
        margin: 20px;
    }
}

@media (max-width: 480px) {
    table {
        width: 60%;
        margin: 10px;
    }

    th, td {
        padding: 6px;  /* Menos espaçamento para telas pequenas */
    }

    h1 {
        font-size: 1.2em;
    }
}

@media (max-width: 400px){
    table {
        width: 40%;
        margin: 10px;
    }
    th, td {
        padding: 2px;
    }

    h1 {
        font-size: 1em;
    }
}
